@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

.navbar-color {
  background-color: hsl(36, 100%, 99%)!important;
}

.navbar-brand {
  font-size: 5vh !important;
  margin-left: 70%;
  font-family: 'DM Serif Display', serif;
}

.navbar-nav {
    margin-left: 57%;
    color: black;
}



  .nav-link {
    margin-right: 15px;
    padding: 10px;
  }
 
  
  .nav-link:hover {
    background-color: #0e4a86;
  }
  
  .navbar {
    margin-top: 75px;
    
  }


 
  
 
